// 文字大小
$font-lg: 34rpx;
$font-xl: 38rpx;

// 副标题颜色
$hic-upgrade-subtitle: #3DA7FF;

// 按钮背景颜色
$hic-upgrade-btn-bg-color: linear-gradient(45deg, #0081ff, #1cbbb4);

// 按钮文字颜色
$hic-upgrade-btn-color: #FFFFFF;
